/* skeleton */
:root{
     --bg-grey: #b4b4b4;   
     --border-grey: #919191;
     --text-color: rgba(0, 0, 0, 0.801);
}
header{
     border: 1px solid #f00;
     padding: 12px;
     display: flex;
     transition: 0.6s ease-in-out;
}
header nav{
     border: 1px solid #f00;
     width: max-content;
     height: max-content;
}
header nav ul{
     display: flex;
     gap: 1.2rem;
     width: max-content;
     list-style-type: none;
}

header nav ul li a{
     font-weight: bold;
     color: var(--text-color);
     text-decoration: none;
}